{% extends"base.html.twig" %}
{% block title %}Корзина | Wheels-shop{% endblock %}
{% block cart %}<li><a href="{{ path('cart')}}" class="active"><i class="fa fa-shopping-cart"></i>Корзина</a></li>{% endblock %}
{% block body %}
	<section id="cart_items">
		<div class="container">
			{% if app.user  and app.user.roles[0] != 'ANONYMOUS' %}

			{% else %}
			<div class="checkout-options">
						<h3>Вы можете продолжить как Гость или Зарегистрироваться, если Вы зарегистрированы, можете авторизаваться:</h3>
						<a class="btn btn-primary" href="{{ path('user_registration')}}">Регистрация</a>
						<a class="btn btn-primary" href="{{ path('app_login')}}">Авторизация</a>
			</div></br><!--/checkout-options-->
			{% endif %}
			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-3">
						<div class="shopper-info">
							<p>Информация о покупателе</p>
							<form id="user-info">
							{% if app.user and app.user.roles[0] != 'ANONYMOUS' %}
								<input type="text" id="firstName" placeholder="Имя" value="{{ userInfo.firstname }}">
								<input type="text" id="lastName" placeholder="Фамилия" value="{{ userInfo.lastname }}">
								<input type="text" id="address" placeholder="Адрес доставки" value="{{ userInfo.address }}">
								<input type="number" id="postalCode" placeholder="Индекс" value="{{ userInfo.postalCode }}">
								<input type="tel" id="phone" placeholder="Телефон" value="{{ userInfo.phone }}">
							{% else %}
								<span id="firstNameErrorValid" id="firstName" class="error-valid required hide">Введите имя</span>
								<input type="text" id="firstName" placeholder="Имя" value="">
								<span id="lastNameErrorValid" id="lastName" class="error-valid required hide">Введите Фамилию</span>
								<input type="text" id="lastName" placeholder="Фамилия" value="">
								<span id="addressErrorValid" id="address" class="error-valid required hide">Введите адрес</span>
								<input type="text" id="address" placeholder="Адрес доставки" value="">
								<span id="postalCodeErrorValid" id="postalCode" class="error-valid required hide">Введите Индекс</span>
								<input type="number" id="postalCode" placeholder="Индекс" value="">
								<span id="phoneErrorValid" id="phone" class="error-valid required hide">Введите номер телефона</span>
								<input type="tel" id="phone" placeholder="Телефон" value="">
							{% endif %}
							</form>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Примечание к заказу</p>
							<textarea name="message" id="noteOfOrder" placeholder="Примечания к Вашему заказу" rows="16"></textarea>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="order-message">
							<p>Доставка и оплата заказа</p>
							<p>Доставка</p>
							<span id="deliveryErrorValid" class="error-valid required hide">Выберите способ доставки</span>
							<span>
						<label><input id="pickup" name="pickup" type="checkbox" checked> Самовывоз</label>
					</span>
							<span>
						<label><input id="courierDelivery" name="courierDelivery" type="checkbox"> Доставка курьером</label>
					</span>
							<p>Оплата</p>
							<span id="payMethodErrorValid"  class="error-valid required hide">Выберите способ оплаты</span>
							<span>
						<label><input id="cash" name="cash" type="checkbox" checked> Наличными при приеме заказа</label>
					</span>
							<span>
						<label><input id="card" name="card" type="checkbox"> Картой при приеме заказа</label>
					</span>
						</div>
					</div>
				</div>
			</div>

			<!--/Корзина-->
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
					<tr class="cart_menu">
						<td class="image">Фото</td>
						<td class="description">Информация</td>
						<td class="prices">Цена</td>
						<td class="quantity">Количество</td>
						<td class="total">Стоимость</td>
						<td></td>
					</tr>
					</thead>
					<tbody>
					{% if app.user %}
					{% for item in items%}
					<tr id="cart-item-{{ item.id }}">
						<td class="cart_product">
							<a href=""><img src="{{ asset("images/shop/#{ item.tire.images[0].source }") | imagine_filter('cartItem') }}" alt=""/></a>
						</td>
						<td class="cart_description">
							<h4><a href="{{ path('tire/details', {'id': item.tire.id}) }}">{{ item.tire.brand }}</h4>
							<p>{{ item.tire.name }}</p></a>
						</td>
						<td class="cart_price">
							<p id="price-item-{{ item.id }}">{{ item.tire.price }} p.</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a id="{{ item.id }}" class="cart_quantity_down" href="#"> - </a>
								<input id="input-{{ item.id }}" class="cart_quantity_input" type="text" name="quantity" value="{{ item.quantity }}" autocomplete="off" size="2">
								<a id="{{ item.id }}" class="cart_quantity_up" href="#"> + </a>
							</div>
						</td>
						<td class="cart_total">
							<p id="price-{{ item.id }}" class="cart_total_price">{{ item.tire.price * item.quantity }} p.</p>
						</td>
						<td  id="{{ item.id }}" class="cart_delete">
							<a class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>
						</td>
					</tr>
					{% endfor %}
					{% endif %}
					<tr>
						<td colspan="4">&nbsp;</td>
						<td colspan="2">
							{% if app.user and totalPrice  %}
							<table class="table table-condensed total-result">
								<tr>
									<td>Стоимость товаров</td>
									<td><p id="total-price-order">{{ totalPrice }} p.</p></td>
								</tr>
								<tr>
									<td>Скидка</td>
									<td><p id="discount">{{ discount }} p.</p></td>
								</tr>
								<tr class="shipping-cost">
									<td>Доставка</td>
									<td><p id="delivery">0 p.</p></td>
								</tr>
								<tr>
									<td>Итого</td>
									<td><span id="total-cost">{{ totalCost }} p.</span></td>
								</tr>
							</table>
							{% else %}
								<table class="table table-condensed total-result">
									<tr>
										<td>Стоимость товаров</td>
										<td><p id="total-price-order">0 p.</p></td>
									</tr>
									<tr>
										<td>Скидка</td>
										<td>
											0 p.
										</td>
									</tr>
									<tr class="shipping-cost">
										<td>Доставка</td>
										<td><p id="delivery">0 p.</p></td>
									</tr>
									<tr>
										<td>Итого</td>
										<td><span>0 p.</span></td>
									</tr>
								</table>
							{% endif %}
							<a class="btn btn-primary" id="checkout" href="#">Оформить заказ</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
{% endblock %}

	{% block javascripts %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.scrollUp.min.js"></script>
		<script src="js/jquery.prettyPhoto.js"></script>
		<script src="js/main.js"></script>
		<script src="js/cart.js"></script>
	{% endblock %}