{% extends"base.html.twig" %}
{% block title %}Wheels-shop{% endblock %}

    {% block main %}<li><a id="main-page" href="{{ path('home')}}" class="active">Главная</a></li>{% endblock %}

{% block body %}

    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>Free E-Commerce Template</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="images/home/girl1.jpg" class="girl img-responsive" alt="" />
                                    <img src="images/home/pricing.png"  class="pricing" alt="" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>100% Responsive Design</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                    <img src="images/home/pricing.png"  class="pricing" alt="" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>Free Ecommerce Template</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="images/home/girl3.jpg" class="girl img-responsive" alt="" />
                                    <img src="images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>

                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <div class="shipping text-center"><!--shipping-->
                            <img src="images/home/shipping.jpg" alt="" />
                        </div><!--/shipping-->
                    </div>

                    <div class="left-sidebar">
                        <div class="shipping text-center"><!--shipping-->
                            <img src="images/home/shipping.jpg" alt="" />
                        </div><!--/shipping-->
                    </div>

                    <div class="left-sidebar">
                        <div class="shipping text-center"><!--shipping-->
                            <img src="images/home/shipping.jpg" alt="" />
                        </div><!--/shipping-->
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Рекомендованые товары</h2>
                        {% for tire in tires %}
                            {{ include('tire/gridview/item.html.twig', {tire: tire}) }}
                        {% endfor %}
                    </div>
                    <div class="category-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            {{ include('brand/brand.html.twig', {brands: brands}) }}
                        </div>
                        <div class="tab-content">
                            {% for brand in brands %}
                                {% if loop.index ==1 %}
                                    <div class="tab-pane fade active in" id="brand{{ brand.name }}" >
                                        {% for tire in brandTires %}
                                            {% if tire.brand.name == brand.name  %}
                                                <div class="col-sm-3">
                                                    <div class="product-image-wrapper">
                                                        <div class="single-products">
                                                            <div class="productinfo text-center">
                                                                <img  src="{{ asset("images/shop/#{ tire.images[0].source }") | imagine_filter('recommended') }}"alt=""/>
                                                                <p><b class="brand-name">{{ tire.brand.name }}</b></p>
                                                                <p><b>{{ tire.name }}</b></p>
                                                                <p><b class="bold price">{{ tire.price }} p.</b></p>
                                                                <ul class="nav nav-pills nav-justified">
                                                                    <li><a href="{{ path('tire/details', {'id': tire.id}) }}"><i class="fa fa-plus-square"></i>Подробнее</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="tab-pane fade" id="brand{{ brand.name }}" >
                                        {% for tire in brandTires %}
                                            {% if tire.brand.name == brand.name  %}
                                                <div class="col-sm-3">
                                                    <div class="product-image-wrapper">
                                                        <div class="single-products">
                                                            <div class="productinfo text-center">
                                                                <img  src="{{ asset("images/shop/#{ tire.images[0].source }") | imagine_filter('recommended') }}"alt=""/>
                                                                <p><b class="brand-name">{{ tire.brand.name }}</b></p>
                                                                <p><b>{{ tire.name }}</b></p>
                                                                <p><b class="bold price">{{ tire.price }} p.</b></p>
                                                                <ul class="nav nav-pills nav-justified">
                                                                    <li><a href="{{ path('tire/details', {'id': tire.id}) }}"><i class="fa fa-plus-square"></i>Подробнее</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div><!--/category-tab-->

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/price-range.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/home.js"></script>
{% endblock %}