{% extends"base.html.twig" %}
{% block title %}Каталог | Wheels-shop{% endblock %}
{% block shop %}<li><a id="shop-page" href="{{ path('shop')}}" class="active">Магазин</a></li>{% endblock %}
{% block body %}
	<section id="advertisement">
		<div class="container">
			<img src="images/shop/advertisement.jpg" alt="" />
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Категории</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<ul class="nav nav-pills nav-stacked" id="category-container"><!--Вставка категорий--></ul>

						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Бренды</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked" id="brand-container">
									<li class="margin-li-style"><label for="summer" class="filter-text brend">Hankook<span class="pull-right">(21)</span></label>
										<input type="checkbox" id="summer" name="summer" class="pull-right check-size"></li>
								</ul>
							</div>
						</div><!--/brands_products-->

						<div class="price-range"><!--price-range-->
							<h2>Диапазон цен</h2>
							<div class="well">
								<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="800" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								<b>0р</b> <b class="pull-right">800р</b>
							</div>
						</div><!--/price-range-->

						<div class="brands_products"><!--season-->
							<br/>
							<h2>Сезон</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li class="margin-li-style"><label for="summer" class="filter-text">Летняя<span class="pull-right">(21)</span></label><input type="checkbox" id="summer" name="summer" class="pull-right check-size"></li>
									<li class="margin-li-style"><label for="winter" class="filter-text">Зимняя<span class="pull-right">(27)</span></label><input type="checkbox" id="winter" name="winter" class="pull-right check-size"></li>
									<li class="margin-li-style"><label for="allseason" class="filter-text">Всесезонная<span class="pull-right">(9)</span></label><input type="checkbox" id="allseason" name="allseason" class="pull-right check-size"></li>
								</ul>
							</div>
						</div><!--/season-->

						<div class="brands_products"><!--width-->
							<br/>
							<h2>Ширина и Высота </h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li class="single_field">
										<label class="filter-text" for="width-tire">Выберите ширину шины:</label>
										<select id="width-tire">
											<option>180</option>
											<option>185</option>
											<option>190</option>
											<option>195</option>
											<option>200</option>
											<option>205</option>
											<option>210</option>
											<option>215</option>
										</select>
									</li>
								</ul>
							<br/>
								<ul class="nav nav-pills nav-stacked">
									<li class="single_field">
										<label class="filter-text" for="height-tire">Выберите высоту шины:</label>
										<select id="height-tire">
											<option>40</option>
											<option>45</option>
											<option>50</option>
											<option>55</option>
											<option>60</option>
											<option>65</option>
											<option>70</option>
											<option>75</option>
										</select>
									</li>
								</ul>
							</div>
						</div><!--/width-->

						<div class="brands_products"><!--diameter-->
							<br/>
							<h2>Диаметр</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li class="single_field">
										<label class="filter-text" for="diameter-tire">Посадочный диаметр:</label>
										<select id="diameter-tire">
											<option>13"</option>
											<option>14"</option>
											<option>15"</option>
											<option>16"</option>
											<option>17"</option>
											<option>18"</option>
											<option>19"</option>
											<option>20"</option>
										</select>
									</li>
								</ul>
							</div>
						</div><!--/diameter-->

						<div class="brands_products"><!--design-->
							<br/>
							<h2>Конструкция</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li class="margin-li-style"><label for="radial" class="filter-text">Радиальные<span class="pull-right">(6)</span></label><input type="checkbox" id="radial" name="radial" class="pull-right check-size"></li>
									<li class="margin-li-style"><label for="dioganal" class="filter-text">Диагональные<span class="pull-right">(3)</span></label><input type="checkbox" id="dioganal" name="dioganal" class="pull-right  check-size"></li>
								</ul>
							</div>
						</div><!--/design-->

						<div class="brands_products"><!--sealing_method-->
							<br/>
							<h2>Способ герметизации</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li class="margin-li-style"><label for="radial" class="filter-text">Камерные<span class="pull-right">(6)</span></label><input type="checkbox" id="radial" name="radial" class="pull-right check-size"></li>
									<li class="margin-li-style"><label for="dioganal" class="filter-text">Бескамерные<span class="pull-right">(3)</span></label><input type="checkbox" id="dioganal" name="dioganal" class="pull-right  check-size"></li>
								</ul>
							</div>
						</div><!--/sealing_method-->

						<div class="brands_products"><!--speed_index-->
							<br/>
							<h2>Индекс скорости</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li class="single_field">
										<label class="filter-text" for="speed-index">Выбрать:</label>
										<select id="speed-index">
											<option>A2 (до 10 км/ч)</option>
											<option>S (до 180 км/ч)</option>
											<option>T (до 190 км/ч)</option>
											<option>U (до 200 км/ч)</option>
											<option>H (до 210 км/ч)</option>
											<option>VR (свыше 210 км/ч)</option>
											<option>V (до 240 км/ч)</option>
											<option>Y (до 300км/ч)</option>
										</select>
									</li>
								</ul>
							</div>
						</div><!--/speed_index-->

						<div class="brands_products"><!--load_index-->
							<br/>
							<h2>Индекс нагрузки</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li class="single_field">
										<label class="filter-text" for="load-index">Выбрать:</label>
										<select id="load-index">
											<option>91</option>
											<option>92</option>
											<option>93</option>
											<option>94</option>
											<option>95</option>
											<option>96</option>
											<option>97</option>
											<option>98</option>
										</select>
									</li>
								</ul>
							</div>
						</div><!--/load_index-->

						<div class="brands_products"><!--thorns-->
							<br/>
							<h2>Сезон</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li class="margin-li-style"><label for="summer" class="filter-text">Шипы<span class="pull-right">(21)</span></label><input type="checkbox" id="summer" name="summer" class="pull-right check-size"></li>
									<li class="margin-li-style"><label for="winter" class="filter-text">Возможно ошиповать<span class="pull-right">(27)</span></label><input type="checkbox" id="winter" name="winter" class="pull-right check-size"></li>
									<li class="margin-li-style"><label for="allseason" class="filter-text">Без шипов<span class="pull-right">(9)</span></label><input type="checkbox" id="allseason" name="allseason" class="pull-right check-size"></li>
								</ul>
							</div>
						</div><!--/thorns-->

						<div class="brands_products"><!--market_launch_date-->
							<br/>
							<h2>Дата выхода на рынок</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li class="single_field">
										<label class="filter-text" for="market_launch_date">Выбрать:</label>
										<select id="market_launch_date">
											<option>2009</option>
											<option>2014</option>
											<option>2015</option>
											<option>2016</option>
											<option>2017</option>
											<option>2018</option>
											<option>2019</option>
											<option>2020</option>
										</select>
									</li>
								</ul>
							</div>
						</div><!--/market_launch_date-->

						<div class="shipping text-center"><!--shipping-->
							<img src="images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->

						<div class="shipping text-center"><!--shipping-->
							<img src="images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->

						<div class="shipping text-center"><!--shipping-->
							<img src="images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->
					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<h2 class="title text-center">Товары</h2>

					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--СКИДКА--><img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Tigar Winter 205/55R16 94H</h2>
								<p>Web ID: 1089772</p>
								<!--Рейтинг--><img src="images/product-details/rating.png" alt="" />

									<div class="product-info">
									<p><b class="bold price">50p</b></p>
									<p><b>Назначение:</b> Легковые авто</p>
									<p><b>Сезон:</b> Летняя</p>
									<p><b>Диаметр:</b> 16"</p>
									<p><b>Ширина:</b> 205</p>
									<p><b>Высота:</b> 55</p>

										<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
											<i class="fa fa-shopping-cart"></i>
											В корзину
										</a>
												<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
													<i class="fa fa-plus-square"></i>
													Подробнее
												</a>
									</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--СКИДКА--><img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Tigar Winter 205/55R16 94H</h2>
								<p>Web ID: 1089772</p>
								<!--Рейтинг--><img src="images/product-details/rating.png" alt="" />

								<div class="product-info">
									<p><b class="bold price">50p</b></p>
									<p><b>Назначение:</b> Легковые авто</p>
									<p><b>Сезон:</b> Летняя</p>
									<p><b>Диаметр:</b> 16"</p>
									<p><b>Ширина:</b> 205</p>
									<p><b>Высота:</b> 55</p>

									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>
										В корзину
									</a>
									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-plus-square"></i>
										Подробнее
									</a>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--СКИДКА--><img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Tigar Winter 205/55R16 94H</h2>
								<p>Web ID: 1089772</p>
								<!--Рейтинг--><img src="images/product-details/rating.png" alt="" />

								<div class="product-info">
									<p><b class="bold price">50p</b></p>
									<p><b>Назначение:</b> Легковые авто</p>
									<p><b>Сезон:</b> Летняя</p>
									<p><b>Диаметр:</b> 16"</p>
									<p><b>Ширина:</b> 205</p>
									<p><b>Высота:</b> 55</p>

									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>
										В корзину
									</a>
									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-plus-square"></i>
										Подробнее
									</a>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--СКИДКА--><img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Tigar Winter 205/55R16 94H</h2>
								<p>Web ID: 1089772</p>
								<!--Рейтинг--><img src="images/product-details/rating.png" alt="" />

								<div class="product-info">
									<p><b class="bold price">50p</b></p>
									<p><b>Назначение:</b> Легковые авто</p>
									<p><b>Сезон:</b> Летняя</p>
									<p><b>Диаметр:</b> 16"</p>
									<p><b>Ширина:</b> 205</p>
									<p><b>Высота:</b> 55</p>

									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>
										В корзину
									</a>
									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-plus-square"></i>
										Подробнее
									</a>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--СКИДКА--><img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Tigar Winter 205/55R16 94H</h2>
								<p>Web ID: 1089772</p>
								<!--Рейтинг--><img src="images/product-details/rating.png" alt="" />

								<div class="product-info">
									<p><b class="bold price">50p</b></p>
									<p><b>Назначение:</b> Легковые авто</p>
									<p><b>Сезон:</b> Летняя</p>
									<p><b>Диаметр:</b> 16"</p>
									<p><b>Ширина:</b> 205</p>
									<p><b>Высота:</b> 55</p>

									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>
										В корзину
									</a>
									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-plus-square"></i>
										Подробнее
									</a>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--СКИДКА--><img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Tigar Winter 205/55R16 94H</h2>
								<p>Web ID: 1089772</p>
								<!--Рейтинг--><img src="images/product-details/rating.png" alt="" />

								<div class="product-info">
									<p><b class="bold price">50p</b></p>
									<p><b>Назначение:</b> Легковые авто</p>
									<p><b>Сезон:</b> Летняя</p>
									<p><b>Диаметр:</b> 16"</p>
									<p><b>Ширина:</b> 205</p>
									<p><b>Высота:</b> 55</p>

									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>
										В корзину
									</a>
									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-plus-square"></i>
										Подробнее
									</a>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--СКИДКА--><img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Tigar Winter 205/55R16 94H</h2>
								<p>Web ID: 1089772</p>
								<!--Рейтинг--><img src="images/product-details/rating.png" alt="" />

								<div class="product-info">
									<p><b class="bold price">50p</b></p>
									<p><b>Назначение:</b> Легковые авто</p>
									<p><b>Сезон:</b> Летняя</p>
									<p><b>Диаметр:</b> 16"</p>
									<p><b>Ширина:</b> 205</p>
									<p><b>Высота:</b> 55</p>

									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>
										В корзину
									</a>
									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-plus-square"></i>
										Подробнее
									</a>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--СКИДКА--><img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Tigar Winter 205/55R16 94H</h2>
								<p>Web ID: 1089772</p>
								<!--Рейтинг--><img src="images/product-details/rating.png" alt="" />

								<div class="product-info">
									<p><b class="bold price">50p</b></p>
									<p><b>Назначение:</b> Легковые авто</p>
									<p><b>Сезон:</b> Летняя</p>
									<p><b>Диаметр:</b> 16"</p>
									<p><b>Ширина:</b> 205</p>
									<p><b>Высота:</b> 55</p>

									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>
										В корзину
									</a>
									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-plus-square"></i>
										Подробнее
									</a>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--СКИДКА--><img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Tigar Winter 205/55R16 94H</h2>
								<p>Web ID: 1089772</p>
								<!--Рейтинг--><img src="images/product-details/rating.png" alt="" />

								<div class="product-info">
									<p><b class="bold price">50p</b></p>
									<p><b>Назначение:</b> Легковые авто</p>
									<p><b>Сезон:</b> Летняя</p>
									<p><b>Диаметр:</b> 16"</p>
									<p><b>Ширина:</b> 205</p>
									<p><b>Высота:</b> 55</p>

									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>
										В корзину
									</a>
									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-plus-square"></i>
										Подробнее
									</a>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--СКИДКА--><img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Tigar Winter 205/55R16 94H</h2>
								<p>Web ID: 1089772</p>
								<!--Рейтинг--><img src="images/product-details/rating.png" alt="" />

								<div class="product-info">
									<p><b class="bold price">50p</b></p>
									<p><b>Назначение:</b> Легковые авто</p>
									<p><b>Сезон:</b> Летняя</p>
									<p><b>Диаметр:</b> 16"</p>
									<p><b>Ширина:</b> 205</p>
									<p><b>Высота:</b> 55</p>

									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>
										В корзину
									</a>
									<a href="{{ path('details')}}" class="btn btn-default add-to-cart">
										<i class="fa fa-plus-square"></i>
										Подробнее
									</a>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
	<br/>
{% endblock %}

	{% block javascripts %}
		<script src="js/jquery.js"></script>
		<script src="js/price-range.js"></script>
		<script src="js/jquery.scrollUp.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.prettyPhoto.js"></script>
		<script src="js/main.js"></script>
		<script src="js/shop-filter.js"></script>
	{% endblock %}